<script type="application/json" id="page">
  <%~ JSON.stringify(it.layout, null, '\t') %>
</script>

<script type="application/javascript">
  window.addEventListener("DOMContentLoaded", () => {
    const data = JSON.parse(page.innerHTML);
    console.log(data);
  });
</script>

<section class="feature">
  <div class="content-wrapper">
    <list-gallary></list-gallary>
  </div>
</section>

<section>
  <div class="content-wrapper">
    <div class="split-rect">
      <a class="left-rect" href="/ui-design">
        <div class="inner-split-rect">
          <h2 titleoffset="400">UI Concepts</h2>
          <div class="rect-overlay"></div>
          <div class="background-image">
            <img
              width="100%"
              src="https://media.graphcms.com/isOl1orkQN6uhdC8i5nT"
            />
          </div>
        </div>
      </a>
      <a class="right-rect" href="/3d-illustration">
        <div class="inner-split-rect">
          <h2 titleoffset="400">3D Illustration</h2>
          <div class="rect-overlay"></div>
          <div class="background-image">
            <img
              width="100%"
              src="https://media.graphcms.com/pD5x3k4lRHaOw3i2fHll"
            />
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<section>
  <div class="content-wrapper project-grid">
    <div>
      <h2>Projects & Tools</h2>
      <br />
    </div>
    <project-list></project-list>
  </div>
</section>

<section class="latest-posts">
  <div class="content-wrapper project-grid">
    <div>
      <h2>Latest Posts</h2>
      <br />
    </div>
    <post-list></post-list>
  </div>
</section>
